div {
    width: 700px;
    margin: 0px auto;
    font-family: verdana;
}

.foto-perfil {
    width: 150px;
}

h1 {
    font-weight: 500;
    font-size: 36px;
    color: rgb(83, 75, 86);
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 100;
    color: rgb(83, 75, 86);
    
}
